<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gerador_e_Validador_de_CC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Gerador_e_Validador_de_CC.Properties.Settings>
            <setting name="Run" serializeAs="String">
                <value>Gerador</value>
            </setting>
            <setting name="cboxbins" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="checkCVV" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QuantidadeCC" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="cboxChecker" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="txtCVV" serializeAs="String">
                <value>RND</value>
            </setting>
            <setting name="cboxMes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cboxAno" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="checkTipoBanco" serializeAs="String">
                <value>False</value>
            </setting>
        </Gerador_e_Validador_de_CC.Properties.Settings>
    </userSettings>
</configuration>